<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CS HND1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!isImgUploading || !isImgUploaded">
    <ion-card-header>
      <ion-card-title>Upload file for HND1 Com Sci first semester</ion-card-title>
    </ion-card-header>

    <ion-button color="danger">
      <input type="file" class="upload" (change)="fileUploadFS($event.target.files)" />
    </ion-button>
  </ion-card>

  <ion-card *ngIf="isImgUploading && !isImgUploaded">
    <ion-card-header>
      <ion-card-title>Files selected: <b>{{ FileName }}</b></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="progressNumFS | async as percentage">
        Progress: {{ percentage | number }}%
        <ion-progress-bar value="{{ percentage / 100 }}"></ion-progress-bar>
      </div>
      <div *ngIf="progressSnapshotFS | async as pSnapshot">
        Image size: {{ pSnapshot.totalBytes | fileSize }} Transfered:
        {{ pSnapshot.bytesTransferred | fileSize }}
        <div *ngIf="progressSnapshotFS && pSnapshot.bytesTransferred != pSnapshot.totalBytes">
          <ion-button color="danger" fill="outline" size="small" (click)="ngFireUploadTaskFS.cancel()">
            Cancel
          </ion-button>
          <ion-button color="secondary" fill="outline" size="small" (click)="ngFireUploadTaskFS.pause()">
            Pause
          </ion-button>
          <ion-button color="dark" fill="outline" size="small" (click)="ngFireUploadTaskFS.resume()" class="button">
            Resume
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!isImgUploading && isImgUploaded">
    <ion-card-header>
      <ion-card-title>
        <b>{{ FileName }}</b> Uploaded
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="fileUploadedPath | async as fileUrl">
        <img [src]="fileUrl" />
        <a [href]="fileUrl" rel="nofollow" target="_blank">Download</a>
      </div>
      File Size: {{ FileSize | fileSize }}
    </ion-card-content>
  </ion-card>

  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>
        Uploaded Files Collection
      </ion-card-title>
    </ion-card-header>

    <ion-card *ngFor="let img of files | async">
      <ion-card-header>
        <ion-card-title>
          {{ img.name }}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <img [src]="img.filepath" />
        <a [href]="img.filepath" rel="nofollow" target="_blank">Download</a>
      </ion-card-content>

      <ion-button expand="block" (click)="delete(img.filepath)"> delete image </ion-button>
      <ion-button expand="block" (click)="deleteSong(song.id, song.songName)"> DELETE SONG </ion-button>
    </ion-card>
  </ion-card> -->








  <ion-card *ngIf="!isImgUploading || !isImgUploaded">
    <ion-card-header>
      <ion-card-title>Upload file for HND1 2nd Semester Com Sci second semester</ion-card-title>
    </ion-card-header>

    <ion-button color="danger">
      <input type="file" class="upload" (change)="fileUploadSS($event.target.files)" />
    </ion-button>
  </ion-card>

  <ion-card *ngIf="isImgUploading && !isImgUploaded">
    <ion-card-header>
      <ion-card-title>Files selected: <b>{{ FileName }}</b></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="progressNumSS | async as percentage">
        Progress: {{ percentage | number }}%
        <ion-progress-bar value="{{ percentage / 100 }}"></ion-progress-bar>
      </div>
      <div *ngIf="progressSnapshotSS | async as pSnapshot">
        Image size: {{ pSnapshot.totalBytes | fileSize }} Transfered:
        {{ pSnapshot.bytesTransferred | fileSize }}
        <div *ngIf="progressSnapshotSS && pSnapshot.bytesTransferred != pSnapshot.totalBytes">
          <ion-button color="danger" fill="outline" size="small" (click)="ngFireUploadTaskSS.cancel()">
            Cancel
          </ion-button>
          <ion-button color="secondary" fill="outline" size="small" (click)="ngFireUploadTaskSS.pause()">
            Pause
          </ion-button>
          <ion-button color="dark" fill="outline" size="small" (click)="ngFireUploadTaskSS.resume()" class="button">
            Resume
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!isImgUploading && isImgUploaded">
    <ion-card-header>
      <ion-card-title>
        <b>{{ FileName }}</b> Uploaded
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="fileUploadedPath | async as fileUrl">
        <img [src]="fileUrl" />
        <a [href]="fileUrl" rel="nofollow" target="_blank">Download</a>
      </div>
      File Size: {{ FileSize | fileSize }}
    </ion-card-content>
  </ion-card>

  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>
        Uploaded Files Collection
      </ion-card-title>
    </ion-card-header>

    <ion-card *ngFor="let img of files | async">
      <ion-card-header>
        <ion-card-title>
          {{ img.name }}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <img [src]="img.filepath" />
        <a [href]="img.filepath" rel="nofollow" target="_blank">Download</a>
      </ion-card-content>

      <ion-button expand="block" (click)="delete(img.filepath)"> delete image </ion-button>
      <ion-button expand="block" (click)="deleteSong(song.id, song.songName)"> DELETE SONG </ion-button>
  </ion-card>
  </ion-card> -->

</ion-content>
