<ion-header>
  <ion-toolbar>
    <ion-title>HND2 SCIENCE AND LABORATORY TECH</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-header>
  <ion-toolbar>
    <ion-segment value="first">
      <ion-segment-button value="first"> 1st Semester </ion-segment-button>
      <ion-segment-button value="second"> 2nd Semester </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header> -->


<ion-content>
  <ion-toggle></ion-toggle>
  <ion-toggle [checked]="true"></ion-toggle>
  <ion-button expand="block" (click)="toggleDepartment(value = true)"> First semester </ion-button>
  <ion-button expand="block" (click)="toggleDepartment(value = false)"> Second semester </ion-button>

  <ion-card *ngIf="value">
    <ion-card>
      <ion-card-header>
        <ion-card-title> First Semester </ion-card-title>
      </ion-card-header>
      <ion-card *ngFor="let img of filesSLTHND2FS | async">
        <ion-card-header>
          <ion-card-title> {{ img.name }} </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <img [src]="img.filepath" />
          <a [href]="img.filepath" rel="nofollow" target="_blank">Download</a>
        </ion-card-content>
        <!-- <ion-button expand="block" (click)="delete(img.filepath)"> delete image </ion-button>
        <ion-button expand="block" (click)="deleteSong(song.id, song.songName)"> DELETE SONG </ion-button> -->
      </ion-card>
    </ion-card>
  </ion-card>

  <ion-card *ngIf="!value">
    <ion-card>
      <ion-card-header>
        <ion-card-title> Second Semester </ion-card-title>
      </ion-card-header>
      <ion-card *ngFor="let img of filesSLTHND2SS | async">
        <ion-card-header>
          <ion-card-title> {{ img.name }} </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <img [src]="img.filepath" />
          <a [href]="img.filepath" rel="nofollow" target="_blank">Download</a>
        </ion-card-content>
        <!-- <ion-button expand="block" (click)="delete(img.filepath)"> delete image </ion-button>
      <ion-button expand="block" (click)="deleteSong(song.id, song.songName)"> DELETE SONG </ion-button> -->
      </ion-card>
    </ion-card>
  </ion-card>

</ion-content>
