<ion-header>
  <ion-toolbar>
    <ion-title>Department</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button routerLink="/create">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>


<!-- <ion-content class="padding">
  <ion-item *ngFor="let song of songList | async" routerLink="/detail/{{song.id}}">
    <ion-label>
      <h2>{{ song.songName}}</h2>
      <p>Artist Name: {{ song.artistName }}</p>
    </ion-label>
  </ion-item>
</ion-content> -->


<ion-content>
  <!-- <ion-item *ngFor="let department of departmentList | async">
    <ion-label>
      <h2>{{ department.departmentName}}</h2>
    </ion-label>
  </ion-item> -->

  <ion-card>
    <!-- <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" /> -->
    <img alt="Silhouette of mountains"
      src="https://m.timbu.com/poi/4513/federal-polytechnic-ilaro-ilNfHYU0Zu1qRym6rHCHi879pYsmEp9yax9kYsIw.jpeg" />
    <ion-card-header>
      <ion-card-title>COMPUTER SCIENCE</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>

    <ion-card-content>
      Past questions concerning compuer science can be found here
    </ion-card-content>

    <ion-button fill="clear" routerLink="/u-cs-nd1-fs">ND 1</ion-button>
    <ion-button fill="clear" routerLink="/u-cs-nd2-fs">ND 2</ion-button>
    <ion-button fill="clear" routerLink="/u-cs-hnd1-fs">HND 1</ion-button>
    <ion-button fill="clear" routerLink="/u-cs-hnd2-fs">HND 2</ion-button>
  </ion-card>
  <br>
  <ion-card>
    <img alt="Silhouette of mountains"
      src="https://m.timbu.com/poi/4513/federal-polytechnic-ilaro-ilNfHYU0Zu1qRym6rHCHi879pYsmEp9yax9kYsIw.jpeg" />
    <ion-card-header>
      <ion-card-title>SCIENCE LABORATORY TECHNOLOGY</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>

    <ion-card-content>
      Past questions concerning science and laboratory tech can be found here
    </ion-card-content>

    <ion-button fill="clear" routerLink="/u-slt-nd1-fs">ND 1</ion-button>
    <ion-button fill="clear" routerLink="/u-slt-nd2-fs">ND 2</ion-button>
    <ion-button fill="clear" routerLink="/u-slt-hnd1-fs">HND 1</ion-button>
    <ion-button fill="clear" routerLink="/u-slt-hnd2-fs">HND 2</ion-button>
  </ion-card>
  <br>
  <ion-card>
    <img alt="Silhouette of mountains"
      src="https://m.timbu.com/poi/4513/federal-polytechnic-ilaro-ilNfHYU0Zu1qRym6rHCHi879pYsmEp9yax9kYsIw.jpeg" />
    <ion-card-header>
      <ion-card-title>FODD TECHNOLOGY</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>

    <ion-card-content>
      Past questions concerning food tech can be found here
    </ion-card-content>

    <ion-button fill="clear" routerLink="/u-ft-nd1-fs">ND 1</ion-button>
    <ion-button fill="clear" routerLink="/u-ft-nd2-fs">ND 2</ion-button>
    <ion-button fill="clear" routerLink="/u-ft-hnd1-fs">HND 1</ion-button>
    <ion-button fill="clear" routerLink="/u-ft-hnd2-fs">HND 2</ion-button>
  </ion-card>
  <br>
  <ion-card>
    <img alt="Silhouette of mountains"
      src="https://m.timbu.com/poi/4513/federal-polytechnic-ilaro-ilNfHYU0Zu1qRym6rHCHi879pYsmEp9yax9kYsIw.jpeg" />
    <ion-card-header>
      <ion-card-title>NUTRITION AND DIETETICS</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>

    <ion-card-content>
      Past questions concerning nutrition and dietetics can be found here
    </ion-card-content>

    <ion-button fill="clear" routerLink="/u-ft-nd1">ND 1</ion-button>
    <ion-button fill="clear" routerLink="/u-ft-nd2">ND 2</ion-button>
    <ion-button fill="clear" routerLink="/u-ft-hnd1">HND 1</ion-button>
    <ion-button fill="clear" routerLink="/u-ft-hnd2">HND 2</ion-button>
  </ion-card>
  <br>
  <ion-card>
    <img alt="Silhouette of mountains"
      src="https://m.timbu.com/poi/4513/federal-polytechnic-ilaro-ilNfHYU0Zu1qRym6rHCHi879pYsmEp9yax9kYsIw.jpeg" />
    <ion-card-header>
      <ion-card-title>MATH AND STATS</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>

    <ion-card-content>
      Past questions concerning math and stats can be found here
    </ion-card-content>

    <ion-button fill="clear" routerLink="/u-ft-nd1">ND 1</ion-button>
    <ion-button fill="clear" routerLink="/u-ft-nd2">ND 2</ion-button>
    <ion-button fill="clear" routerLink="/u-ft-hnd1">HND 1</ion-button>
    <ion-button fill="clear" routerLink="/u-ft-hnd2">HND 2</ion-button>
  </ion-card>

  <!-- <ion-list>
    <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
  </ion-list> -->
</ion-content>
