ion-toolbar {
  --background: #CC9933 ;
  --color: #fff;
}

ion-button {
  --color: #009631;
}

// ion-content{
//   --background: url(/assets/fedpolyy.jpg) 0 0/100% 100% no-repeat;
//   --background-color: rgba(0, 0, 0, 0);
// }
